# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  pullPolicy: IfNotPresent
  repository:
  tag:
basedomain: whoknows.com
service:
  name: whoweb
  type: ClusterIP
  ports:
    http:
      port: 80
      targetPort: 5000
  sessionAffinity: ClientIP
  externalPort: 80
  paths: "/ww/"
deployment:
  replicas: 1
  cpuRequest: "500m"
  memoryRequest: "1Gi"
  postgresql: true
  envConfigMapRef: "whoweb-config"
  envSecretRef: "whoweb-secrets"
  reloadOnEnvChange: 1
  readinessProbe:
    httpGet:
      path: /readiness
      port: 5000
      initialDelaySeconds: 20
      timeoutSeconds: 5
  livenessProbe:
    httpGet:
      path: /liveness
      port: 5000

hpa:
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
global:
  tlsSecretName: tls-star-whoknows-com
preview:
  required-by:
    xperweb: true
