# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  pullPolicy: IfNotPresent
  repository: gcr.io/wkinfra-171623/wkpython/whoweb
  tag: 7.3.0
basedomain: whoknows.com
service:
  name: whoweb
  type: ClusterIP
  ports:
    http:
      port: 80
      targetPort: 5000
  sessionAffinity: ClientIP
  externalPort: 80
  paths: "/ww/"
deployment:
  replicas: 1
  cpuRequest: "2"
  memoryRequest: "1Gi"
  cpuLimit: "4"
  memoryLimit: "3Gi"
  postgresqlInNamespace: false
  envConfigMapRef:
    - "whoweb-config"
  envSecretRef: "whoweb-secrets"
  settingsModule: "config.settings.production"
celery:
  gracePeriod: 150
  cpuRequest: "2"
  memoryRequest: "512Mi"
  cpuLimit: "8"
  memoryLimit: "8Gi"
  hpa:
    minReplicas: 1
    maxReplicas: 6
    cpu: 75
    memory: 85
celeryLow:
  gracePeriod: 90
  cpuRequest: "2"
  memoryRequest: "1Gi"
  cpuLimit: "4"
  memoryLimit: "6Gi"
  hpa:
    minReplicas: 2
    maxReplicas: 6
    cpu: 60
    memory: 80
beat:
  cpuRequest: "100m"
  memoryRequest: "64Mi"
flower:
  serviceName: celeryflower # using "flower" populates k8s env vars, which clash config
  cpuRequest: "200m"
  memoryRequest: "128Mi"
  cpuLimit: "1"
  memoryLimit: "512Mi"
  ports:
    http:
      port: 5555
      targetPort: 5555
hpa:
  minReplicas: 1
  maxReplicas: 4
  cpu: 80
global:
  tlsSecretName: tls-star-whoknows-com
preview:
  required-by:
    xperweb: true
