# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  pullPolicy: IfNotPresent
  repository:
  tag:
basedomain: whoknows.com
service:
  name: whoweb
  type: ClusterIP
  ports:
    http:
      port: 80
      targetPort: 5000
  sessionAffinity: ClientIP
  externalPort: 80
  paths: "/ww/"
deployment:
  replicas: 1
  cpuRequest: "2"
  memoryRequest: "1Gi"
  cpuLimit: "12"
  memoryLimit: "16Gi"
  postgresqlInNamespace: false
  envConfigMapRef:
    - "whoweb-config"
  envSecretRef: "whoweb-secrets"
  settingsModule: "config.settings.production"
celery:
  cpuRequest: "500m"
  memoryRequest: "1Gi"
  cpuLimit: "4"
  memoryLimit: "8Gi"
  hpa:
    minReplicas: 1
    maxReplicas: 10
    cpu: 90
    memory: 80
beat:
  cpuRequest: "100m"
  memoryRequest: "64Mi"
flower:
  serviceName: celeryflower # using "flower" populates k8s env vars, which clash config
  cpuRequest: "200m"
  memoryRequest: "128Mi"
  cpuLimit: "1"
  memoryLimit: "512Mi"
  ports:
    http:
      port: 5555
      targetPort: 5555
hpa:
  minReplicas: 1
  maxReplicas: 5
  cpu: 70
global:
  tlsSecretName: tls-star-whoknows-com
preview:
  required-by:
    xperweb: true
