apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "jx.fullname" . }}
  labels:
    chart: {{ template "jx.chart" . }}
  annotations:
    configmap.reloader.stakater.com/reload: "{{.Values.deployment.envConfigMapRef}}"
    secret.reloader.stakater.com/reload: "{{.Values.deployment.envSecretRef}}"
    secret.reloader.stakater.com/reload: "{{ .Release.Name }}-postgresql"
spec:
  strategy:
    rollingUpdate:
      maxSurge: 51%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: {{ template "jx.fullname" . }}
    spec:
{{- if .Values.preemptible }}
      tolerations:
      - key: "key"
        operator: "Exists"
        effect: "NoSchedule"
{{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: IMAGE
            value: {{ .Values.image.repository }}
          - name: REVISION
            value: {{ .Values.image.tag }}
          - name: ENVIRONMENT_NAME
            value: {{ .Release.Namespace }}
          - name: DEFAULT_ORIGIN
            value: https://{{- template "ingress.url" . }}
          - name: DJANGO_ALLOWED_HOSTS
            value: "{{- template "ingress.url" . -}},{{ .Values.service.name }}"
          envFrom:
          - configMapRef:
              name: {{ .Values.deployment.envConfigMapRef }}
          - secretRef:
              name: {{ .Values.deployment.envSecretRef }}
          - secretRef:
              name: {{ .Release.Name }}-postgresql
          readinessProbe:
{{ toYaml .Values.deployment.readinessProbe | indent 12 }}
          livenessProbe:
{{ toYaml .Values.deployment.livenessProbe | indent 12 }}
          ports:
            {{- range $portName, $portConfig := .Values.service.ports }}
            - containerPort: {{ default $portConfig.port $portConfig.targetPort }}
            {{- end }}
          resources:
            requests:
              cpu: {{ .Values.deployment.cpuRequest }}
              memoryRequest: {{ .Values.deployment.memoryRequest }}
